.box-06 {
    width: 100px;
    height: 100px;
    background-color: #000;
    animation: fadeInDown 2s ease 0s 1 normal;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}
